:root {
  --purple: rgb(47, 0, 92);
  --pink: #ec00f9;
}

@font-face {
  font-family: TheAmbientStream;
  src: url(assets/fonts/the-ambient-stream/TheAmbientStream.otf);
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway/static/Raleway-LightItalic.ttf);
}

@font-face {
  font-family: Grundschrift;
  src: url(assets/fonts/grundschrift/Grundschrift-Bold.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100vw;
}

.landing {
  height: 90vh;
}

.preloader {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
}

.preloader > svg {
  width: clamp(120px, 20%, 800px);
  stroke: var(--purple);
  fill-opacity: 1;
  stroke-width: 7px;
  stroke-dasharray: 4500;
}

#main-container {
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-top: 10vh;
  width: 100vw;
  overflow-x: hidden;
}

.intro {
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  height: 65vh;
  margin-bottom: 3vh;
}

#header {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header > svg {
  width: 10vw;
  height: 5vh;
  filter: invert();
}

#heart {
  height: 40px;
  width: 40px;
  filter: invert(100);
  filter: brightness(1000);
  padding-inline: 0.5rem;
  stroke: white;
  stroke-width: 0.2px;
  z-index: 1001;
}

#meet {
  color: white;
  margin-top: 1.2rem;
  font-size: 4rem;
  font-family: TheAmbientStream;
  height: 4.5rem;
}

#gf {
  color: white;
  font-size: 4rem;
  font-family: TheAmbientStream;
  display: flex;
  align-items: center;
  height: 4rem;
}

.her {
  height: 66%;
  margin-top: 3vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1%;
}

.her > img {
  height: 95%;
  width: auto;
}

.img-fade {
  position: absolute;
  bottom: 2%;
  z-index: 1000;
  height: 20%;
  width: 100%;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.carousel {
  height: 7vh;
  /* border: 2px solid rgb(26, 255, 0); */
  display: flex;
  justify-content: center;
  white-space: nowrap;
  border-block: 1px solid rgb(24, 24, 24);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.quotes {
  display: flex;
}

.quotes div {
  color: rgb(255, 255, 255);
  width: fit-content;
  text-wrap: no-wrap;
  text-align: center;
  margin: 0 0.7rem;
  overflow: hidden;
}

.quotes > div > p {
  font-family: Raleway;
}

.border1,
.border2 {
  position: absolute;
  height: 7vh;
  width: 9%;
  z-index: 2000;
}

.border1 {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.border2 {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

#bottom {
  margin-block: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
}

#swipe-down {
  height: 3rem;
  background: none;
  border: none;
}

#swipe-down > img {
  height: 2rem;
  filter: invert();
  filter: brightness(-10000);
}

.section-two {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to top, rgb(0, 0, 0) 0.1%, black 99.9%);
  align-items: end;
  justify-content: center;
}

#cat {
  position: fixed;
  bottom: 5%;
  right: 10%;
  border: 3px solid red;
  filter: invert();
  height: 2.2rem;
}

.her-2 {
  height: 65vh;
  width: 49vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.her-2 img {
  height: 100%;
  filter: brightness(0%);
  z-index: 3;
}

.text-background {
  position: absolute;
  height: 99.5%;
  width: 100%;
}

.text-background p {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  color: rgb(22, 0, 43);
  font-size: 1.1rem;
  border: 0px solid red;
  font-family: Grundschrift;
}
