:root {
  --purple: rgb(47, 0, 92);
  --pink: #ec00f9;
}

@font-face {
  font-family: TheAmbientStream;
  src: url(assets/fonts/the-ambient-stream/TheAmbientStream.otf);
}

@keyframes opacity-fill {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 4500;
  }
}

@keyframes change-bg {
  0% {
    background-color: var(--purple);
  }
  100% {
    background-color: var(--pink);
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    z-index: 9999;
    display: flex;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
    filter: blur(2px);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
    filter: blur(5px);
    visibility: hidden;
    z-index: -1000;
    display: none;
  }
}

@keyframes FadeIn {
  0% {
    z-index: -9999;
  }
  100% {
    z-index: 1000;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.preloader {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
}

.preloader > svg {
  width: clamp(120px, 20%, 800px);
  stroke: var(--purple);
  fill-opacity: 1;
  stroke-width: 7px;
  stroke-dasharray: 4500;
}

#main-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-top: 10vh;
}

.intro {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  border: 2px solid rgb(0, 157, 255);
}

.intro > p {
  font-family: TAS;
  font-size: 4.5em;
  color: white;
  border: 2px solid rgb(0, 157, 255);
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header > svg {
  width: 10vw;
  height: 5vh;
  filter: invert();
}

#heart {
  height: 40px;
  width: 40px;
  filter: invert(100);
  filter: brightness(1000);
  padding-inline: 0.5rem;
  stroke: white;
  stroke-width: 0.2px;
}

#meet {
  color: white;
  font-size: 4rem;
  font-family: TheAmbientStream;
  height: 4.5rem;
}

#gf {
  color: white;
  font-size: 4rem;
  font-family: TheAmbientStream;
  display: flex;
  align-items: center;
  height: 4rem;
}
