:root {
  --purple: rgb(47, 0, 92);
  --pink: #ec00f9;
}

/* * {
  border: 2px solid red;
} */

@font-face {
  font-family: TheAmbientStream;
  src: url(assets/fonts/the-ambient-stream/TheAmbientStream.otf);
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway/static/Raleway-LightItalic.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: visible;
}

.preloader {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
}

.preloader > svg {
  width: clamp(120px, 20%, 800px);
  stroke: var(--purple);
  fill-opacity: 1;
  stroke-width: 7px;
  stroke-dasharray: 4500;
}

#main-container {
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-top: 10vh;
  width: 100vw;
  overflow-x: hidden;
}

.intro {
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  min-height: 65vh;
}

.img-fade {
  /* border: 2px solid rgb(0, 255, 8); */
  position: relative;
  bottom: 3.2rem;
  z-index: 1000;
  height: 3rem;
  width: 9rem;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

#header {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header > svg {
  width: 10vw;
  height: 5vh;
  filter: invert();
}

#heart {
  height: 40px;
  width: 40px;
  filter: invert(100);
  filter: brightness(1000);
  padding-inline: 0.5rem;
  stroke: white;
  stroke-width: 0.2px;
  z-index: 1001;
}

#meet {
  color: white;
  margin-top: 1.2rem;
  font-size: 4rem;
  font-family: TheAmbientStream;
  height: 4.5rem;
}

#gf {
  color: white;
  font-size: 4rem;
  font-family: TheAmbientStream;
  display: flex;
  align-items: center;
  height: 4rem;
}

.her > img {
  width: 45%;
  margin-top: 2rem;
  /* border: 2px solid red; */
}

.landing {
  height: 90vh;
}

.carousel {
  height: 7vh;
  /* border: 2px solid rgb(26, 255, 0); */
  display: flex;
  justify-content: center;
  white-space: nowrap;
  border-block: 1px solid rgb(24, 24, 24);
}

.quotes {
  display: flex;
  flex-direction: row;
  /* white-space: nowrap; */
  /* border: 2px solid red; */
}

.quotes div {
  color: rgb(255, 255, 255);
  /* border: 2px solid rgb(255, 230, 0); */
  width: fit-content;
  text-wrap: no-wrap;
  text-align: center;
  margin: 0 0.7rem;
}

.quotes > div > p {
  font-family: Raleway;
}

.border1,
.border2 {
  position: absolute;
  height: 7vh;
  width: 10%;
  margin: 0;
  padding: 0;
}

.border1 {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.border2 {
  right: -1px;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

#bottom {
  margin-block: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#swipe-down {
  height: 3rem;
  background: none;
  border: none;
}

#swipe-down > img {
  height: 2rem;
  filter: invert();
  filter: brightness(-10000);
}

.section-two {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to top, rgb(0, 0, 0) 0.1%, black 99.9%);
}
